<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      ようこそ、Speech Linksへ。アカウントを作成しましょう！
    </h1>
  </div>
  <div class="panel-body inner-m">
    <p>
      すでにアカウントをお持ちな方は<%= link_to "ログイン", new_user_session_path %>
    </p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field mbm">
        <%= f.label :name, "Name (in English)" %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Kouch Sato" %>
      </div>

      <div class="field mbm">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "speech@example.com" %>
      </div>

      <div class="field mbm">
        <%= f.label :university %>
        <%= f.select :university, User.universities.keys, class: "form-control", prompt: "選択してください" %>
        <p>
          ※大学名は順不同です。<br />
          上記にご自身の大学がない場合は、「そのほかの大学」を選択し、「自己紹介文」に大学名を書いてください。<br />
          大学を追加いたします。
        </p>
      </div>

      <div class="field mbm">
        <%= f.label :grade, "ESSでの学年" %>
        <%= f.select :grade, [["1", 1], ["2", 2], ["3",3], ["4", 4], ["社会人", 5]], class: "form-control", prompt: "選択してください" %>
      </div>

      <div class="field mbm">
        <%= f.label :bio, "自己紹介文" %>
        <%= f.text_area :bio, class: "form-control", placeholder: "UTESSのOBです。エクステンポと後輩への愛が止まりません。" %>
      </div>

      <div class="field mbm">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="field mbm">
        <%= f.label :password_confirmation, "パスワードを再入力" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="mbm">
        <%= link_to home_terms_path, target: "_blank",class: "btn btn-info" do %>
          利用規約
        <% end %>

        <%= link_to home_privacy_path, target: "_blank",class: "btn btn-info" do %>
          プライバシーポリシー
        <% end %>
      </div>

      <div class="actions mbm">
        <%= f.submit "上記に同意して、Speech Linksを始める！", class: "btn btn-primary btn-lg span12" %>
      </div>
    <% end %>
  </div>
</div>
