<div class="panel panel-default">
  <div class="panel-heading">
    <h2>ようこそ、Speech Linksへ！</h2>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Kouch Sato" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", placeholder: "speech@example.com" %>
      </div>

      <div class="field">
        <%= f.label :bio, "プロフィール欄" %><br />
        <%= f.text_field :bio, class: "form-control", placeholder: "UTESSのOBです。エクステンポと後輩を愛しています。" %>
      </div>

      <div class="field">
        <%= f.label :university %><br />
        <%= f.select :university, User.universities.keys, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :grade, "ESSでの学年" %><br />
        <%= f.select :grade, [["1", 1], ["2", 2], ["3",3], ["4", 4]], class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワードを再入力してください" %><br />
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <br/>
      <div class="actions">
        <%= f.submit "Speech Linksを始める！", class: "btn btn-primary", style: "width: 100%;" %>
      </div>
    <% end %>
    <br/>
    <p>すでにアカウントをお持ちな方は<%= link_to "こちら", new_user_session_path %></p>
  </div>
</div>
