<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      プロフィール編集
    </h1>
  </div>
  <div class="panel-body inner-m">
    <%= render "shared/error_message", model: @user %>
    <%= form_for @user do |f| %>
      <div class="field mbm">
        <%= f.label :name, "Name (in English)" %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Kouch Sato" %>
      </div>

      <div class="field mbm">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "speech@example.com" %>
      </div>

      <div class="field mbm">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="field mbm">
        <%= f.label :university %>
        <%= f.select :university, User.universities.keys, class: "form-control", prompt: "選択してください" %>
      </div>

      <div class="field mbm">
        <%= f.label :grade, "ESSでの学年" %>
        <%= f.select :grade, [["1", 1], ["2", 2], ["3",3], ["4", 4]], class: "form-control", prompt: "選択してください" %>
      </div>

      <div class="field mbm">
        <%= f.label :bio, "自己紹介文" %>
        <%= f.text_area :bio, class: "form-control", placeholder: "UTESSのOBです。エクステンポと後輩への愛が止まりません。" %>
      </div>

      <div class="actions mbm">
        <%= f.submit "プロフィールを更新", class: "btn btn-primary span12" %>
      </div>
    <% end %>
  </div>
</div>


