<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= @user.name %></h2>
  </div>
  <div class="panel-body">
    <div class="user-profile mtl mbl">
      <blockquote class="span8 user-profile__left">
        <p>
          <%= @user.university %> <%= @user.grade %>年生
        </p>
        <p>
          <%= simple_format(@user.bio) %>
        </p>
      </blockquote>
      <span class="span4 user-profile__right">
        <p class="user-links-point__title">
          Links Point
        </p>
        <p class="user-links-point__points">
          <%= @user.links_point %>
        </p>
      </span>
    </div>
    <div>
      <ul class="nav nav-tabs span12">
        <li class="user-tab active">
          <a class="user-tab__link" href="#my_speeches" data-toggle="tab">
            この人のスピーチ <span class="badge"><%= @speeches.count %></span>
          </a>
        </li>
        <li class="user-tab">
          <a class="user-tab__link" href="#liked_speeches" data-toggle="tab">
            読んだスピーチ <span class="badge"><%= @liked_speeches.count %></span>
          </a>
        </li>
        <li class="user-tab">
          <a class="user-tab__link" href="#commented_speeches" data-toggle="tab">
            コメントしたスピーチ <span class="badge"><%= @commented_speeches.count %></span>
          </a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="my_speeches">
          <%= render "user/speeches/speeches", speeches: @speeches %>
        </div>
        <div class="tab-pane fade" id="liked_speeches">
          <%= render "user/speeches/speeches", speeches: @liked_speeches %>
        </div>
        <div class="tab-pane fade" id="commented_speeches">
          <%= render "user/speeches/speeches", speeches: @commented_speeches %>
        </div>
      </div>
    </div>
  </div>
</div>