<% set_meta_tags home_top_meta_tags %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      ようこそ！SpeechLinksへ
    </h1>
  </div>
  <div class="panel-body">
    <section>
      <h2 class="top-speech-index__title">
        新着のスピーチ
      </h2>
      <%= render "speeches", speeches: @new_speeches %>
    </section>
    <section>
      <h2 class="top-speech-index__title">
        今のオススメスピーチ
      </h2>
      <%= render "speeches", speeches: @random_speeches %>
    </section>
    <section>
      <h2 class="top-speech-index__title">
        最近コメントされたスピーチ
      </h2>
      <%= render "speeches", speeches: @commented_speeches %>
    </section>
    <% if user_signed_in? %>
      <section>
        <h2 class="top-speech-index__title">
          自分のスピーチ
        </h2>
        <%= render "speeches", speeches: @my_speeches %>
      </section>
      <section>
        <h2 class="top-speech-index__title">
          最近読んだスピーチ
        </h2>
        <%= render "speeches", speeches: @my_liked_speeches %>
      </section>
    <% end %>
  </div>
</div>