<table class="table table-hover speech-index-table">
  <% speeches.each do |speech| %>
    <tr>
      <td>
        <div class="speech-index-table__title">
          <%= link_to(user_speech_path(speech)) do %>
            <span data-toggle="tooltip" data-placement="right" data-original-title="<%= speech.overview %>">
              <%= speech.title %>
            </span>
          <% end %>
        </div>
        <div class="pls">
          <span class="speech-index-table__user prs ">
            <%= link_to(user_path(speech.user)) do %>
              <%= image_tag speech.user.image.thumb.url, class: "speech-index-table__image user-image mrs" %>
              <%= speech.user.name %>
            <% end %>
          </span>
          <span class="speech-index-table__created">
            <%= speech.created_at %>
          </span>
        </div>
      </td>
      <td>
        <span class="speech-index-table__right">
          <% if speech.likes.count.nonzero? %>
            <p>
              <% if user_signed_in? && current_user.likes.find_by(speech_id: speech.id) %>
                <i class="fa fa-check-circle speech-index-table__icon checked"></i>
              <% else %>
                <i class="fa fa-check-circle speech-index-table__icon"></i>
              <% end %>
              <%= speech.likes.count %>
            </p>
          <% end %>
          <% if speech.comments.count.nonzero? %>
            <p>
              <% if user_signed_in? && current_user.comments.find_by(speech_id: speech.id) %>
                <i class="fa fa-commenting-o speech-index-table__icon checked"></i>
              <% else %>
                <i class="fa fa-commenting-o speech-index-table__icon"></i>
              <% end %>
              <%= speech.comments.count %>
            </p>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
</table>