<div class="panel panel-default">
  <div class="panel-heading">
    <h2>スピーチを更新する</h2>
  </div>
  <div class="panel-body">
    <%= render partial: "shared/error_message", locals: { model: @speech } %>
    <%= form_for [:user, @speech] do |f| %>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control", placeholder: "タイトル", style: "font-size: 24px; padding: 20px;" %>
      <%= f.label :overview, "紹介文" %>
      <%= f.text_area :overview, class: "form-control", placeholder: "例：皆さんは「みんなやっているから」という理由で決断をしてしまった経験はありませんか？このスピーチが「10年後の自分」を考えるきっかけになれば嬉しいです！添削としてではなく、皆さんの純粋な感想を聞かせてください！", rows: 3, style: "font-size: 16px;" %>
      <%= f.label :content, "本文（各段落の最初は全角スペース4つ分空けてください）" %>
      <%= f.text_area :content, class: "form-control", placeholder: "本文を書いてください（各段落の最初は全角スペース4つ分空けてください）", rows: 50 %>
      <br/>
      <%= f.submit "スピーチを更新！", class: "btn btn-primary", style: "width: 100%;" %>
    <% end %>
  </div>
</div>