<h1>スピーチ詳細画面</h1>
<div class="panel">
  <h2><%= @speech.title %></h2>
  <h3><%= @speech.user.name %></h3>
  <div class="speech-content">
    <%= simple_format(@speech.content) %>
  </div>
  <%= link_to "編集", edit_user_speech_path(@speech) %>
  <%= link_to "削除", user_speech_path(@speech), method: :delete, data: {confirm: '本当にスピーチを削除しますか？'} %>

  <table class="table table-striped table-hover">
    <% @comments.each do |comment| %>
      <tr>
        <td>
            <p>
              <%= comment.content %>
            </p>
            <%= link_to(user_path(comment.user)) do %>
              <%= comment.user.name %>
            <% end %>
          </div>  
        </td>
      </tr>
    <% end %>
  </table>

  <%= render partial: "shared/error_message", locals: { model: @comment } %>
  <%= form_for (@comment), url: user_speech_comments_path(@speech) do |f| %>
    <%= f.text_area :content, class: "form-control", placeholder: "コメント" %>
    <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
  <% end %>
</div>  