<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <%= @speech.title %>
    </h2>
  </div>
  <div class="panel-body speech-container mbl">
    <div class="speech-overview mtm mbl">
      <blockquote class="span8">
        <p>
          <%= simple_format(@speech.overview) %>
        </p>
        <small>
          <%= link_to @speech.user.name, user_path(@speech.user) %>
        </small>
      </blockquote>
      <div class="speech-overview__right span4 mtm">
        <p>
          登録日時 : <%= @speech.created_at %>
        </p>
        <p>
          最終更新日時 : <%= @speech.updated_at %>
        </p>
        <% if @speech.user_id == current_user.id %>
          <%= link_to edit_user_speech_path(@speech), class: "btn btn-info" do %>
            <i class="fa fa-pencil-square-o"></i> 編集
          <% end %>
          <%= link_to user_speech_path(@speech), class: "btn btn-danger", method: :delete, data: {confirm: '本当にスピーチを削除しますか？'} do %>
            <i class="fa fa-trash-o"></i> 削除
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="speech-show mbl">
      <div class="speech-show__title">
        <%= @speech.title %>
      </div>
      <div class="speech-show__name mbm">
        <%= @speech.user.name %>
      </div>
      <div class="speech-show__content">
        <%= safe_join(@speech.content.split("\n"), tag(:br)) %>
      </div>
    </div>

    <%= render "like", speech: @speech %>

    <div class="speech-comments">
      <table class="table speech-comments-table">
        <% @comments.each do |comment| %>
          <tr>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>
                  <%= link_to(user_path(comment.user)) do %>
                    <%= comment.user.name %>
                  <% end %>
                </span>
                <span class="speech-comments-table__right">
                  <% if current_user.id == comment.user_id %>
                    <%= link_to user_speech_comment_path(@speech.id, comment.id), method: :delete, data: {confirm: 'コメントを削除してよろしいですか？'} do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  <% end %>
                  <%= comment.created_at %>
                </span>
              </div>
              <div class="panel-body speech-comments-table__text">
                <%= simple_format(comment.content) %>
              </div>
            </div>
          </tr>
        <% end %>
      </table>

      <div class="speech-comments-form">
        <%= render "shared/error_message", model: @comment %>
        <%= form_for (@comment), url: user_speech_comments_path(@speech) do |f| %>
          <%= f.label :content, "スピーチを読んだら感想を書いてあげましょう！" %>
          <%= f.text_area :content, class: "form-control speech-comments-form__text mbs", rows: 3, placeholder: "ご自身の体験がとても印象的で、心に残るスピーチでした！" %>
          <%= f.submit "コメントを投稿", class: "btn btn-primary span12" %>
        <% end %>
      </div>
    </div>
  </div>
</div>