<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      Speech Linksにログイン
    </h1>
  </div>
  <div class="panel-body inner-m">
    <p>
      アカウントをお持ちでない方は<%= link_to "アカウント新規作成", new_user_registration_path %>
    </p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mbm">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力してください" %>
      </div>

      <div class="field mbm">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワードを入力してください" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mbm">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインを保存する" %>
        </div>
      <% end %>

      <p class="mbm">
        メールアドレス・パスワードをお忘れの方は
        <a href="mailto:official.speechlinks@gmail.com">公式メールアドレス</a>
        か
        <a href="https://twitter.com/speech_links" target="_blank">公式ツイッター</a>
        までご連絡ください。
      </p>

      <div class="actions">
        <%= f.submit "Speech Linksにログイン！", class: "btn btn-primary btn-lg span12" %>
      </div>
    <% end %>
  </div>
</div>
