<!DOCTYPE html>
<html>
  <head>
    <title>SpeechLinks</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag() %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body id="body">
    <%= render "shared/navbar" %>

    <%= render "shared/flash" %>

    <div class="container">
      <%= yield %>
    </div>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
		</script>
  </body>
</html>
